<%- include('./partials/header') %>
    <style>
        .search-box {

            width: 340px;
            height: 50px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            border: 1px solid #2C394B;
        }

        #name {
            margin-left: 10px;
            background: transparent;
            box-shadow: none;
            border: none;
            outline: none;
            font-size: 1.5rem;
            font-family: 'Montserrat', sans-serif;
        }

        #search-btn {
            font-size: 1.5rem;
            cursor: pointer;
            outline: none;
            color: #548CA8;
        }

        #search-btn:hover {
            color: #2C394B;
        }
    </style>
    <br>
    <div class="container" style="width: 100%;">

        <div class="card">
            <div class="card-header">
                <h2>Personel Ara</h2>
            </div>
            <div class="card-body">
                <form action="/allPersonels" method="GET">
                    <div class="form-group">
                        <div class="search-box">
                            <input id="name" type="text" placeholder="Ara" name="name">
                            <button type="submit" class="search-btn" style="background: transparent; border: none;"
                                id="search-btn"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="telefonListe">

            <table class="table">
                <thead class="table-dark">
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th class="col-lg-1">Cinsiyet</th>
                    <th class="col-lg-4">Doğum Günü</th>
                    <th>Departman</th>
                    <th>Ünvan</th>
                    <th class="col-lg-5">Telefon</th>
                    <th></th>
                </thead>
                <tbody id="tbody">
                    <% personel.forEach(e=> { %>
                        <tr>
                            <td>
                                <%=e.name %></a>
                            </td>
                            <td>
                                <%= e.lastName %>
                            </td>
                            <td>
                                <%= e.gender %>
                            </td>
                            <td>
                                <%= e.birthDay %>
                            </td>
                            <td>
                                <%= e.department %>
                            </td>
                            <td>
                                <%= e.title %>
                            </td>
                            <td>
                                <%= e.phone %>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="/personel/<%= e._id %>">SEÇ</a>
                            </td>
                        </tr>

                        <% }) %>
                </tbody>
            </table>

        </div>

    </div>
    <%- include('./partials/footer') %>